*.in
*~
aclocal.m4
ar-lib
compile
config.guess
config.sub
configure
depcomp
install-sh
missing
m4
.deps
m4
autom4te.cache
ltmain.sh
libsvg-android
*.lo
*.o
Makefile
config.h
config.log
config.status
*.la
*.pc
.libs
stamp-h1
libtool
